In [4]:
import csv

file_path = '/Users/ojassharma/Downloads/tweet_data_final.csv'

try:
    with open(file_path, 'r') as file:
        reader = csv.reader(file)
        
        # Assuming the first row contains headers
        headers = next(reader)
        
        data_couchbase = []
        
        for row in reader:
            # Assuming each row is a list
            data_couchbase.append(dict(zip(headers, row)))
    
    print(data_couchbase)
    
except Exception as e:
    print(e)
    print("Error in reading CSV file")

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [6]:
data_couchbase[:8]

[{'id': '1254022772558368768',
  'text': 'RT @BJP4India: India‚Äôs war with Corona is ongoing.\n\nPlay your part and make sure no one around you starves.\n\nYour contribution to defeat hu‚Ä¶',
  'created_at': '2020-04-25 12:21:42',
  'retweet_count': '0',
  'reply_count': '0',
  'favorite_count': '0',
  'lang': 'en',
  'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
  'user_id': '908326492718764034',
  'original_tweet_id': '1253949413191344128',
  'is_retweet': 'True',
  'hashtags': '[]',
  'urls': '[]'},
 {'id': '1254022772877131777',
  'text': 'RT @schrodingerk42: @ozkan_yalim @DurmusYillmaz \nA√ßƒ±k kapalƒ± g√∂r√º≈üler yasak olduƒüu i√ßin sadece telefon g√∂r√º≈ülerinde kendisinden haber alabi‚Ä¶',
  'created_at': '2020-04-25 12:21:42',
  'retweet_count': '0',
  'reply_count': '0',
  'favorite_count': '0',
  'lang': 'tr',
  'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
  'user_id': '1206650133976408064',
  'original_tweet_id': '1252576316135739392',
  'is_retweet': 'True',
  'hashtags': '[]',
  'urls': '[]'},
 {'id': '1254022773149589510',
  'text': 'RT @MonstaXEurope: VIDEO | 25.04.20\n\n&gt; Monsta X appears on Yonhap News TV - Idol comeback through Corona... Turning on the Music industry.‚Ä¶',
  'created_at': '2020-04-25 12:21:42',
  'retweet_count': '0',
  'reply_count': '0',
  'favorite_count': '0',
  'lang': 'en',
  'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
  'user_id': '1248123252',
  'original_tweet_id': '1253992905703862272',
  'is_retweet': 'True',
  'hashtags': '[]',
  'urls': '[]'},
 {'id': '1254022773858545665',
  'text': 'RT @gustinicchi: Morti COL Corona non PER il Corona.\n\nCONTE PER OTTENERE APPOGGIO VDL AL GOLPE DI AGOSTO 2019 HA CONSEGNATO (MANI E PIEDI)‚Ä¶',
  'created_at': '2020-04-25 12:21:42',
  'retweet_count': '0',
  'reply_count': '0',
  'favorite_count': '0',
  'lang': 'it',
  'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
  'user_id': '50993809',
  'original_tweet_id': '1254010851142569984',
  'is_retweet': 'True',
  'hashtags': '[]',
  'urls': '[]'},
 {'id': '1254022774521081856',
  'text': 'RT @PawanKalyan: Sri ByReddy Rajasekhar Reddy garu,a leader,who is truly dedicated to the betterment of Rayalaseema region (now joined in B‚Ä¶',
  'created_at': '2020-04-25 12:21:42',
  'retweet_count': '0',
  'reply_count': '0',
  'favorite_count': '0',
  'lang': 'en',
  'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
  'user_id': '792325679354417152',
  'original_tweet_id': '1253697983343816706',
  'is_retweet': 'True',
  'hashtags': '[]',
  'urls': '[]'},
 {'id': '1254022776232394752',
  'text': 'RT @cloudseokjinie: tony montana yoongi live #kpop trump bp lisa dance soojin taekook fancam au ateez jennie jisoo twice comeback dream sup‚Ä¶',
  'created_at': '2020-04-25 12:21:43',
  'retweet_count': '0',
  'reply_count': '0',
  'favorite_count': '0',
  'lang': 'en',
  'source': '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>',
  'user_id': '469083492',
  'original_tweet_id': '1254021956246126594',
  'is_retweet': 'True',
  'hashtags': "['kpop']",
  'urls': '[]'},
 {'id': '1254022777268568064',
  'text': 'RT @evangelisch_de: Der Berliner Landesonlinepfarrer spricht im Interview √ºber die M√∂glichkeiten der #Digitalisierung auch in Nicht-Corona-‚Ä¶',
  'created_at': '2020-04-25 12:21:43',
  'retweet_count': '0',
  'reply_count': '0',
  'favorite_count': '0',
  'lang': 'de',
  'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
  'user_id': '1044295463267119104',
  'original_tweet_id': '1253972665045565441',
  'is_retweet': 'True',
  'hashtags': "['Digitalisierung']",
  'urls': '[]'},
 {'id': '1254022778363265024',
  'text': 'RT @Quirinale: #25Aprile, nel 75¬∞ anniversario della #Liberazione il Presidente #Mattarella ha deposto una corona all‚ÄôAltare della Patria e‚Ä¶',
  'created_at': '2020-04-25 12:21:43',
  'retweet_count': '0',
  'reply_count': '0',
  'favorite_count': '0',
  'lang': 'it',
  'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
  'user_id': '109877154',
  'original_tweet_id': '1253986335297359874',
  'is_retweet': 'True',
  'hashtags': "['25Aprile,Liberazione,Mattarella']",
  'urls': '[]'}]

In [9]:
import pandas as pd


# Load data into pandas DataFrames
users_df = pd.read_json('/Users/ojassharma/Documents/Rutgers/DBMS/Json FINAL/users.json')

# Print the column names of the DataFrames
print("Users data columns are:", users_df.columns)

Users data columns are: Index(['id', 'name', 'screen_name', 'location', 'url', 'followers_count',
       'friends_count', 'statuses_count', 'favourites_count', 'verified',
       'created_at', 'profile_image_url', 'geo_enabled'],
      dtype='object')

In [10]:
from IPython.display import display
import pandas as pd

# Displaying Users DataFrame
print("Users DataFrame:")
display(users_df)

Users DataFrame:

,id,name,screen_name,location,url,followers_count,friends_count,statuses_count,favourites_count,verified,created_at,profile_image_url,geo_enabled
0,908326492718764032,‡§∂‡§ö‡•Ä‡§®‡•ç‡§¶‡•ç‡§∞ ‡§™‡§æ‡§£‡•ç‡§°‡•á‡§Ø,im_S_pandey,Amethi Uttar Pradesh,NA,2362,202,48906,30668,False,2017-09-14 13:48:06,http://pbs.twimg.com/profile_images/1252819913...,True
1,207809313,BJP,BJP4India,"6-A, Deen Dayal Upadhyay Marg,",http://www.bjp.org,13481667,3,200315,0,True,2010-10-26 02:19:07,http://pbs.twimg.com/profile_images/8125311080...,True
2,1206650133976408064,B√º≈üra √ñzta≈ü,schrodingerk42,NA,NA,318,220,405,1974,False,2019-12-16 18:59:53,http://pbs.twimg.com/profile_images/1252587987...,False
3,1206650133976408064,B√º≈üra √ñzta≈ü,schrodingerk42,NA,NA,318,220,404,1974,False,2019-12-16 18:59:53,http://pbs.twimg.com/profile_images/1252587987...,False
4,1248123252,minhyuk.,mizhyuklee,NA,https://twitter.com/OfficialMonstaX,1194,538,157680,1241,False,2013-03-07 07:21:32,http://pbs.twimg.com/profile_images/1253940703...,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92138,3580248555,Deep State Exposed¬Æ,DeepStateExpose,North of the Wall,https://www.Deepstatebooks.com,321690,305678,54323,34172,False,2015-09-07 20:12:43,http://pbs.twimg.com/profile_images/1236460355...,False
92139,1196389874351431680,Meshack Nyalama#the great.,MNyalama,NA,NA,352,854,31655,10734,False,2019-11-18 11:29:29,http://pbs.twimg.com/profile_images/1254014377...,True
92140,872453029,R.A.shah,Rashah007,"Lucknow, India",NA,881,1921,9514,22823,False,2012-10-10 20:23:59,http://pbs.twimg.com/profile_images/1247942466...,True
92141,933734367679123456,Jacob,lundgreenjacob,NA,NA,1,44,12,68,False,2017-11-23 16:29:56,http://pbs.twimg.com/profile_images/9337367181...,False
92142,19236255,Anders Lindberg,anderslindberg,Anywhere,https://www.facebook.com/AndersAftonbladet/,47556,1368,122389,7215,False,2009-01-20 13:35:55,http://pbs.twimg.com/profile_images/7859624735...,True

In [12]:
import psycopg2
# PostgreSQL connection details
PGHOST = "twitter.postgres.database.azure.com"
PGUSER = "neeraj"
PGPORT = 5432
PGDATABASE = "postgres"
PGPASSWORD = "Dbms@123"

# Connect to PostgreSQL
conn = psycopg2.connect(
    dbname=PGDATABASE,
    user=PGUSER,
    password=PGPASSWORD,
    host=PGHOST,
    port=PGPORT
)

# Create a cursor object
cur = conn.cursor()

# Fetch column names from the users table
cur.execute("SELECT column_name FROM information_schema.columns WHERE table_name = 'users_final';")
columns = cur.fetchall()

# Print the column names to identify the correct columns
print(columns)

# Close the cursor and connection
cur.close()
conn.close()

[('geo_enabled',), ('favourites_count',), ('statuses_count',), ('verified',), ('created_at',), ('id',), ('followers_count',), ('friends_count',), ('name',), ('screen_name',), ('location',), ('url',), ('profile_image_url',)]

In [13]:
import json
with open('/Users/ojassharma/Documents/Rutgers/DBMS/Json FINAL/users.json') as f:
    try :
        data = json.load(f)
    except Exception as e:
        print(e)
        print("Error in loading json file")

In [14]:
data[0]

{'id': '908326492718764034',
 'name': '‡§∂‡§ö‡•Ä‡§®‡•ç‡§¶‡•ç‡§∞ ‡§™‡§æ‡§£‡•ç‡§°‡•á‡§Ø',
 'screen_name': 'im_S_pandey',
 'location': 'Amethi Uttar Pradesh',
 'url': 'NA',
 'followers_count': '2362',
 'friends_count': '202',
 'statuses_count': '48906',
 'favourites_count': '30668',
 'verified': 'False',
 'created_at': '2017-09-14 13:48:06',
 'profile_image_url': 'http://pbs.twimg.com/profile_images/1252819913820925952/PdvkxSTA_normal.jpg',
 'geo_enabled': 'True'}

In [3]:

# import json
import psycopg2

# PostgreSQL connection details
PGHOST = "twitter.postgres.database.azure.com"
PGUSER = "neeraj"
PGPORT = 5432
PGDATABASE = "postgres"
PGPASSWORD = "Dbms@123"

# Connect to PostgreSQL
conn = psycopg2.connect(
    dbname=PGDATABASE,
    user=PGUSER,
    password=PGPASSWORD,
    host=PGHOST,
    port=PGPORT
)

# Open a cursor to perform database operations
cur = conn.cursor()

# Create users table if not exists


cur.execute("""
    CREATE TABLE IF NOT EXISTS users_final (
        id BIGINT PRIMARY KEY,
        name VARCHAR(255),
        screen_name VARCHAR(255),
        location VARCHAR(255),
        url TEXT,
        followers_count INTEGER,
        friends_count INTEGER,
        favourites_count INTEGER,
        statuses_count INTEGER,
        verified BOOLEAN,
        created_at TIMESTAMP,
        profile_image_url TEXT,
        geo_enabled BOOLEAN
    )
""")

conn.commit()
conn.close()
cur.close()

In [4]:
# Define the insert query with ON CONFLICT DO NOTHING
insert_query = """
    INSERT INTO users_final (
        id, name, screen_name, location, url, followers_count, 
        friends_count, statuses_count, favourites_count, verified, 
        created_at, profile_image_url, geo_enabled
    ) VALUES (
        %(id)s, %(name)s, %(screen_name)s, %(location)s, %(url)s, 
        %(followers_count)s, %(friends_count)s, %(statuses_count)s, 
        %(favourites_count)s, %(verified)s, %(created_at)s, 
        %(profile_image_url)s, %(geo_enabled)s
    )
    ON CONFLICT DO NOTHING
"""

# PostgreSQL connection details
PGHOST = "twitter.postgres.database.azure.com"
PGUSER = "neeraj"
PGPORT = 5432
PGDATABASE = "postgres"
PGPASSWORD = "Dbms@123"

# Connect to PostgreSQL
conn = psycopg2.connect(
    dbname=PGDATABASE,
    user=PGUSER,
    password=PGPASSWORD,
    host=PGHOST,
    port=PGPORT
)

# Open a cursor to perform database operations
cur = conn.cursor()

# Insert each user data into the PostgreSQL table
for user in data:
    try:
        cur.execute(insert_query, user)
    except Exception as e:
        print(f"Error inserting user {user['id']}: {e}")

# Commit the transaction
conn.commit()

# Close communication with the PostgreSQL database
cur.close()
conn.close()

In [15]:
import psycopg2
# PostgreSQL connection details

PGHOST = "twitter.postgres.database.azure.com"
PGUSER = "neeraj"
PGPORT = 5432
PGDATABASE = "postgres"
PGPASSWORD = "Dbms@123"

# Connect to PostgreSQL
conn = psycopg2.connect(
    dbname=PGDATABASE,
    user=PGUSER,
    password=PGPASSWORD,
    host=PGHOST,
    port=PGPORT
)

# Open a cursor to perform database operations
cur = conn.cursor()


cur.execute("SELECT * from users_final LIMIT 10")

In [16]:
columns = cur.fetchall()

# Print the column names to identify the correct columns
print(columns)

[(908326492718764034, '‡§∂‡§ö‡•Ä‡§®‡•ç‡§¶‡•ç‡§∞ ‡§™‡§æ‡§£‡•ç‡§°‡•á‡§Ø', 'im_S_pandey', 'Amethi Uttar Pradesh', 'NA', 2362, 202, 30668, 48906, False, datetime.datetime(2017, 9, 14, 13, 48, 6), 'http://pbs.twimg.com/profile_images/1252819913820925952/PdvkxSTA_normal.jpg', True), (207809313, 'BJP', 'BJP4India', '6-A, Deen Dayal Upadhyay Marg,', 'http://www.bjp.org', 13481667, 3, 0, 200315, True, datetime.datetime(2010, 10, 26, 2, 19, 7), 'http://pbs.twimg.com/profile_images/812531108092874753/frVON4bm_normal.jpg', True), (1206650133976408064, 'B√º≈üra √ñzta≈ü', 'schrodingerk42', 'NA', 'NA', 318, 220, 1974, 405, False, datetime.datetime(2019, 12, 16, 18, 59, 53), 'http://pbs.twimg.com/profile_images/1252587987864616962/YHmt6u8v_normal.jpg', False), (1248123252, 'minhyuk.', 'mizhyuklee', 'NA', 'https://twitter.com/OfficialMonstaX', 1194, 538, 1241, 157680, False, datetime.datetime(2013, 3, 7, 7, 21, 32), 'http://pbs.twimg.com/profile_images/1253940703027015681/n8picphO_normal.jpg', False), (858859031464751104, 'Monsta X Europe', 'MonstaXEurope', 'let the haters bark', 'http://monstaxeurope.com/support', 27085, 463, 32014, 38045, False, datetime.datetime(2017, 5, 1, 1, 42, 4), 'http://pbs.twimg.com/profile_images/1250448641849995270/uOCQDFug_normal.jpg', False), (50993809, 'üáÆüáπHenry Whites‚ô•Ô∏è', 'Enrico_Bianchi', 'NA', 'NA', 1165, 1840, 22923, 42671, False, datetime.datetime(2009, 6, 26, 9, 37, 39), 'http://pbs.twimg.com/profile_images/1112389739041165313/69JO8wqF_normal.jpg', True), (761787475, 'Maurizio Gustinicchi', 'gustinicchi', 'www.scenarieconomici.it', 'NA', 13459, 7886, 185978, 85444, False, datetime.datetime(2012, 8, 16, 15, 43, 6), 'http://pbs.twimg.com/profile_images/896840995723243521/CxXcxBfX_normal.jpg', True), (792325679354417152, 'Balu Pspk', 'Balu54368353', 'Chirala, India', 'NA', 221, 311, 75133, 28240, False, datetime.datetime(2016, 10, 29, 11, 22, 17), 'http://pbs.twimg.com/profile_images/1168146666119000064/Ac7ERUZW_normal.jpg', False), (2719753171, 'Pawan Kalyan', 'PawanKalyan', 'NA', 'NA', 3957996, 161, 2, 1408, True, datetime.datetime(2014, 8, 9, 17, 6, 12), 'http://pbs.twimg.com/profile_images/822297476480860162/0aaEIx6A_normal.jpg', False), (469083492, 'J.', 'menggyeuxxxxxx', 'Universe', 'NA', 916, 3981, 71272, 172486, False, datetime.datetime(2012, 1, 20, 6, 39, 33), 'http://pbs.twimg.com/profile_images/1127418312655118337/mjVZ2Vwv_normal.jpg', True)]

In [ ]:
# INDEXING
import psycopg2
PGHOST = "twitter.postgres.database.azure.com"
PGUSER = "neeraj"
PGPORT = 5432
PGDATABASE = "postgres"
PGPASSWORD = "Dbms@123"

conn = psycopg2.connect(
    dbname=PGDATABASE,
    user=PGUSER,
    password=PGPASSWORD,
    host=PGHOST,
    port=PGPORT
)
# Create a cursor object
cur = conn.cursor()

# Creating index on id column
cur.execute("CREATE INDEX idx_tweets_id ON users_final(id);")

# Creating index on created_at column
cur.execute("CREATE INDEX idx_tweets_created_at ON users_final(created_at);")

# Commit the transaction
conn.commit()

# Close the cursor and connection
cur.close()
conn.close()

In [ ]:
# import csv
# import json

# # Read the CSV file
# csv_file = '/Users/neerajchaudhari/Downloads/user_data.csv'
# json_file = '/Users/neerajchaudhari/Documents/Rutgers/DBMS/Json FINAL/users.json'

# data = []

# with open(csv_file, mode='r') as file:
#     reader = csv.DictReader(file)
#     for row in reader:
#         data.append(row)

# # Write the JSON data to a file
# with open(json_file, mode='w') as file:
#     json.dump(data, file, indent=4)

# print(f"CSV data successfully converted to JSON and saved in {json_file}.")